@font-face{
    src : url(../fonts/Courgette-Regular.ttf);
    font-family: cou;
}
@font-face{
    src : url(../fonts/Shojumaru-Regular.ttf);
    font-family: sho;
}
#address-form{
    display: none;
}
#alert-success{
    display: none;
}
body{
    font-family: cou;
    font-size:20px;
}
.nav navbar-nav{
    float: left;
}