@font-face{
    src : url(../fonts/Courgette-Regular.ttf);
    font-family: cou;
}
@font-face{
    src : url(../fonts/Shojumaru-Regular.ttf);
    font-family: sho;
}
h1{
    font-size: 70px;
    font-family: cou;
    text-align: center;
    color: whitesmoke;

}
body{
    background-color: black;
}
h2{
    font-family: cou;
    text-align: center;
    color: burlywood; 
    font-size: 40px;
}
#image{
    float: left;
    margin: 10%;
    padding: 10%;
}
.image{
    width: 50%;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 70%;
    bottom: 70%;
    transform: translate(-50%, -50%);
   mask-image:  url(../image/7.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px white;
    animation:slider 9s infinite linear;


}
@keyframes slider{
    0%{ background-image: url(../image/10.jpg);}
    35%{ background-image: url(../image/9.jpg);}
    75%{ background-image: url(../image/6.jpg);}
    100%{background-image: url(../image/1.jpg);}
}
h3{
    font-family: cou;
    text-align: center;
    color: burlywood; 
    font-size: 40px;
}
.col-4{
    font-family: cou;
    text-align: center;
    color: white; 
    font-size: 40px;
}
h4{
    font-family: cou;
    text-align: center;
    color: white;
    font-size: 40px;
    
}
h5{
    font-family: cou;
    text-align: center;
    color: white; 
    font-size: 40px;
    
}

h6{
    font-family: cou;
    text-align: center;
    color: white;
    font-size: 40px;

}



